body {
    background: whitesmoke;
    font-family: 'Quicksand', sans-serif;
  }

#responsiveCanvas {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.imageLink:hover {
  cursor: pointer;
  }

nav {
    background-color: black;
    color: gold;
  }

.canvasContainer {
    box-shadow: 10px 10px 10px grey;
    margin-bottom: 40px;
  }

footer {
    margin-bottom: 0px;
    background-color: black;
  }
